* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}

body {
    background-color: #9b5de5;
}

$white: white;

@mixin flex {
    display: flex;
    align-items: center;
}

.header {
    @include flex;
    width: 100%;
    height: 80px;
    background-color: #9b5de5;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.header__menu {
    margin-right: 30px;
}

.header__menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
    /* Cuando ponemos 4 margenes (top, bottom, left, right) */
}

.header__menu:hover ul,
ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0px;
    /* (Top y Bottom) (Left y Rigth)*/
}

.header__menu li a {
    color: $white;
    text-decoration: none;
}

.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu--profile {
    @include flex;
    margin-right: 8px;
}

.header__menu--profile img {
    margin-right: 8px;
    width: 40px;
}

.header__menu--profile p {
    margin: 0;
    color: $white;
}

.section {
    @include flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    border-radius: 0px 0px 40px 40px;
}

.section__title {
    color: $white;
    font-size: 25px;
    margin-bottom: 10px;
}

.input {
    border: 2px solid $white;
    border-radius: 35px;
    color: $white;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.1);
    outline-style: none;
}

.input::placeholder {
    color: $white;
}

.categories__title {
    color: $white;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
    margin: 30px 0px;
}

.carousel {
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
}
.carousel__container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}
.carousel-item {
    background-color: palevioletred;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}
.carousel-item:hover ~ .carousel-item {
    transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel-item {
    opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.carousel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.carousel-item__details {
    background: linear-gradient(
        to top,
        rbga(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 1),
        100%
    );
    font-size: 10px;
    /* opacity: 0; */
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;

    img {
        width: 32px;
    }
}

.carousel-item__details--subtitle,
.carousel-item__details--title {
    color: $white;
}

.carousel-item__details--subtitle:hover,
.carousel-item__details--title:hover {
    text-decoration: underline;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
}
::-webkit-scrollbar:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar:hover:active {
    background: #999;
}

.login {
    background: linear-gradient(#1fbb87, #804aff);
    @include flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.login__container {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid $white;
    border-radius: 40px;
    color: $white;
    padding: 60px 68px 40px;
    min-height: 700px;
    min-width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.login__container-form {
    display: flex;
    flex-direction: column;

    label {
        font-size: 14px;
    }
}

.login__container--remember_me {
    color: $white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    a {
        color: $white;
        font-size: 14px;
        text-decoration: none;
    }
}

.login__container--remember_me a:hover {
    text-decoration: underline;
}

.login__container--social_media > div {
    @include flex;
    margin-bottom: 10px;
    font-size: 14px;
}

.login__container--social_media > div > img {
    width: 30px;
    margin-right: 10px;
}

.login__container--register {
    font-size: 14px;
}

.login__container--register a {
    font-size: 16px;
    color: $white;
    font-weight: bold;
    text-decoration: none;
}

.login__container--register a:hover {
    text-decoration: underline;
}

.login__input {
    background: transparent;
    border-left: 0;
    border-radius: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid $white;
    font-size: 16px;
    outline: none;
    margin-bottom: 20px;
    padding: 0px 20px;
    height: 50px;
}

.login__input::placeholder {
    color: $white;
}

.button {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: $white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}
.button:hover {
    border: 2px solid $white;
}

.footer {
    background: #804aff;
    @include flex;
    height: 100px;
    width: 100%;
}

.footer a {
    cursor: pointer;
    font-size: 14px;
    color: $white;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.register__contenedor--iniciar {
    text-align: center;
}

.register__contenedor--iniciar a {
    text-decoration: none;
    color: $white;
    font-size: 16px;
    font-weight: bold;
}

.register__contenedor--iniciar a:hover {
    text-decoration: underline;
}

input {
    cursor: pointer;
}

h2 {
    cursor: pointer;
}

p {
    cursor: grab;
}

@media only screen and (max-width: 600px) {
    .login__container {
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
    }

    .footer {
        align-items: flex-start;
        flex-direction: column;
    }
}

.error {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#1fbb87, #804aff);
}

.error__container {
    width: 100%;
    height: 500px;
    @include flex;
    justify-content: center;
    flex-direction: column;
}

.error__container h1 {
    color: $white;
    cursor: pointer;
    font-size: 90px;
}

.error__container p {
    color: $white;
    font-size: 16px;
    font-weight: bold;
}
